.hero {
    position: relative;
    height: 400px;
    background-image: url("https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-9e38-61f7-bcc7-8d9693f148b0/raw?se=2025-05-17T10%3A39%3A58Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=864daabb-d06a-46b3-a747-d35075313a83&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-17T01%3A32%3A27Z&ske=2025-05-18T01%3A32%3A27Z&sks=b&skv=2024-08-04&sig=J6SaLSTtotOg83cc6ujBYr%2Bsy4pqqx9UyVIq5fD1nYk%3D");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  
  .hero-content {

    /* margin: 0;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    max-width: 800px;
    width: 100%;
    text-align: center; */

    text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .shop-now-btn {
    background-color: rgb(250, 139, 140);
    color: #333;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .shop-now-btn:hover {
    background-color: #e0c9b0;
  }
  
  @media (max-width: 768px) {
    .hero {
      height: 300px;
    }
  
    .hero h2 {
      font-size: 1.75rem;
    }
  }
  