.reset-password-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .reset-password-container h2 {
    color: #333;
  }
  
  .reset-password-container p {
    margin: 10px 0;
    color: #555;
  }
  
  .reset-password-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, lightpink, lavender);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .reset-password-container a {
    color: #904983;
    text-decoration: none;
  }
  
  .message {
    color: red;
  }
  