body{
    background: linear-gradient(to bottom, lightpink, lavender);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    color: #333;
  }
  
  .signup-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, lightpink, lavender);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .signup-container p {
    margin-top: 10px;
  }
  
  .signup-container a {
    color: #904983;
    text-decoration: none;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  